* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "bardy";
  src: url("../fonts/Bardy.ttf");
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'bardy', cursive; 
    color:white;
}

.medium_stroke{
    -webkit-text-stroke: 2px black;
}

.bold_stroke{
    -webkit-text-stroke: 3px black;
}

.extra_bold_stroke{
    -webkit-text-stroke: 5px black;
}


.thin_shcdow{
    text-shadow: 0px .2vw 0px  #000000;
}

.bold_shcdow{
    text-shadow: 0px .6vw 0px  #000000;
}


/* navbar */
li a{
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}

li:hover a{
    color:#92DFFF;
}




/* menu button */ 
.menu-button{
    align-items: center;
    background-color: #92DFFF;
    border: 2px solid #22B1C2;
    box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.082); 
}

.menu-button.active{
    background-color: #29A5DB;
    box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.39);
}

.menu-button span{
    width: 19px;
    height: 2.5px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: .1s ease-in-out;
}

.menu-button span:nth-child(2){
    position: absolute;
    margin-bottom: .8rem;
}

.menu-button span:nth-child(3){
    position: absolute;
    margin-top: .8rem;
}

.menu-button.active span:nth-child(2){
    margin-bottom: 0rem;
}
.menu-button.active span:nth-child(3){
    margin-top: 0rem;
}

/* token */
.marquee_container p{
    text-shadow: 0px .5vw 0px  #FFFFFF;
    -webkit-text-stroke: .2vw white;
    color:#508955;
}

.marquee_container p.black_marquee{
    text-shadow: 0px .5vw 0px  #000000;
    -webkit-text-stroke: .2vw #181818;
    color:white;
}

/* about */
.title_about{
    text-shadow: 0px .6vw 0px  #000000;
}

/* tokenomics */

.news_image::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%; 
    
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    
    transition:.1s ease-in ;
    -webkit-transition:.1s ease-in ;
    -moz-transition:.1s ease-in ;
    -ms-transition:.1s ease-in ;
    -o-transition:.1s ease-in ;

    background-color: black;
    opacity:0;
    z-index: 1;
}

.news_image:hover::after{
    opacity:0.5; 
}

/* dex */
.dex_title{
    text-shadow: 0px .6vw 0px  #000000;
}

/* media queries */
@media screen and (max-width:1023px) {
    .medium_stroke{
        -webkit-text-stroke: 1.3px black;
    }
    
    .bold_stroke{
        -webkit-text-stroke: 1.8px black;
    }

    
    .extra_bold_stroke{
        -webkit-text-stroke: 3px black;
    }

    .marquee_container p{
        text-shadow: 0px 4px 0px  #FFFFFF;
        -webkit-text-stroke: 2px white; 
    }

    /* navbar */
    nav .links{    
        transform: translateX(140%);
        -webkit-transform: translateX(140%);
        -moz-transform: translateX(140%);
        -ms-transform: translateX(140%);
        -o-transform: translateX(140%);
    }

    nav .links.active{    
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }

}

@media screen and (max-width:600px) {
    .medium_stroke{
        -webkit-text-stroke: .8px black;
    }
    
    .bold_stroke{
        -webkit-text-stroke: 1.3px black;
    }
    
    .extra_bold_stroke{
        -webkit-text-stroke: 1.8px black;
    }

    
    .marquee_container p{
        text-shadow: 0px 2px 0px  #FFFFFF;
        -webkit-text-stroke: 1px white; 
    }

    /* dex */
    .dex_title{
        text-shadow: 0px 1vw 0px  #000000;
    }
    
}



 
/* animation */ 
.marquee{
    animation: marquee 12s linear infinite;
    -webkit-animation: marquee 12s linear infinite;

    
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

@keyframes marquee {
    0%{
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
}
}

.marquee_reverse{
    animation: marquee_reverse 12s linear infinite;
    -webkit-animation: marquee_reverse 12s linear infinite;

    
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}

@keyframes marquee_reverse {
    0%{
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
}



.wobble{
    animation: wobble 1s linear infinite;
  }
  
  
  @keyframes wobble {
    0% {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
    15% {
      -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
      -ms-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg);
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -5deg)
    }
    30% {
      -webkit-transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 3deg);
      -ms-transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 3deg);
      transform: translate3d(2%, 0, 0) rotate3d(0, 0, 1, 3deg)
    }
    45% {
      -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -3deg);
      -ms-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -3deg);
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -3deg)
    }
    60% {
      -webkit-transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 2deg);
      -ms-transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 2deg);
      transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 2deg)
    }
    75% {
      -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      -ms-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)
    }
    100% {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none
    }
  }
  



  .floating_animation{
    animation: floating_animation 6s linear infinite;
    -webkit-animation: floating_animation 6s linear infinite;
}

@keyframes floating_animation {
    0%.100%{
        transform: translateY(-6%);
        -webkit-transform: translateY(-6%);
        -moz-transform: translateY(-6%);
        -ms-transform: translateY(-6%);
        -o-transform: translateY(-6%);
    }
    50%{ 
        transform: translateY(6%);
        -webkit-transform: translateY(6%);
        -moz-transform: translateY(6%);
        -ms-transform: translateY(6%);
        -o-transform: translateY(6%);
    }
}



.side_animation{
    animation: side 7s ease-in-out infinite;
  }
  /* side */
  @keyframes side {
    0% {
      transform: translateX(0%);
    }
    50% { 
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0%);
    }
}


.to_right_animation{
    animation: to_right 3s ease-in-out infinite;
  } 

  @keyframes to_right {
    0% {
      transform: translateX(0%);
    } 
    100% {
      transform: translateX(110%);
    }
}


.decor__back {
    -webkit-animation:  5s linear infinite backwards rotate;
    animation: 5s linear infinite backwards rotate; 
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}



.trainMove { 
    animation: trainMove 5s ease-in-out infinite;
}

@-webkit-keyframes trainMove {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes trainMove {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.trainMove2 { 
    animation: trainMove2 5s ease-in-out infinite;
}

@-webkit-keyframes trainMove2 {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
}

@keyframes trainMove2 {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
}




.arrow_train_animation {
    -webkit-animation:arrow_train_animation  2s ease infinite;
    animation: arrow_train_animation 2s ease infinite;  
}

@-webkit-keyframes arrow_train_animation { 
    70% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    95% {
        -webkit-transform: translateY(-7%);
        transform: translateY(-7%);
    }
    97% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    99% {
        -webkit-transform: translateY(-3%);
        transform: translateY(-3%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes arrow_train_animation { 
    70% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    80% {
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    95% {
        -webkit-transform: translateY(-7%);
        transform: translateY(-7%);
    }
    97% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    99% {
        -webkit-transform: translateY(-3%);
        transform: translateY(-3%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
